<%= render 'layouts/apply_navbar' %>
<div class="SiteContent" >
  <section class="Solutions application_form_2 no_opacity" >
    <div class="row">
      <div class="col flex-centered">
        <div class="Section__content" id="application_page_2">
            <h2> Course Preference & Profile Info</h2>
            <%= form_with(model: @application, id: 'new_application', url: update_app_path, validate: true) do |f| %>
              <div class="form-row">
                <div class="form-group col-md-6">

                  <label for="application_linkedin_profile">Linkedin profile
                    <span> <small id="emailHelp" class=" text-muted">(optional)</small></span> </label>
                  <%= f.email_field :linkedin, placeholder: '', class: 'form-control' %>
                </div>
                <div class="form-group col-md-6">
                  <label for="application_Github_profile">Github profile
                    <span> <small id="emailHelp" class=" text-muted">(optional)</small></span> </label>
                  <%= f.text_field :github, placeholder: '', class: 'form-control' %>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-7">
                  <%= f.label 'preferred course:' %>
                  <%= f.select :preferred_course_date, ['Select one', 'Coding for Data Science', 'Data Science Career Course', 'Sunday Workshop']%>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <%= f.label 'most interested in applying data science to:' %>
                  <%= f.select :interested_field, ['Select one', 'marketing', 'business analysis', 'finance', 'economics/policy', 'social enterprise', 'biology', 'other'] %>
                </div>
              </div>
              <%= hidden_field_tag 'application[number]', '' %>
              <%=f.submit 'Apply', class: 'Button' %>
            <% end %>
        </div>
      </div>
      <div class="col flex-centered" style="">
        <div class="Section__content">
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <p class="card-text">
              This is the first step in the application process.
              </p>
              <p class="card-text">
              After submitting your application,  we will contact you about next steps.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
      <div class="modal fade bd-example-modal-lg" id="application_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-keyboard="false" data-show="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="logo__hz"> </div>
            <p class="modal-p"> Part Time Data Science Classes</p>
            <%= image_tag "women-presenting.svg", alt: 'Data Science Presentation at Jigsaw Labs'%>

            <%= form_for(@application, id: 'new_application', validate: true, remote: true) do |f| %>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.label :first_name %>
                  <%= f.text_field :first_name, placeholder: 'First Name', validate: {presence: true}, class: 'form-control' %>
                </div>
                <div class="form-group col-md-6">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control' %>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.label :email %>
                  <%= f.email_field :email, placeholder: 'Email', class: 'form-control' %>
                </div>
                <div class="form-group col-md-6">
                  <%= f.label :phone_number %>
                  <%= f.telephone_field :phone_number, placeholder: '111-111-1111', class: 'form-control' %>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.label :zip_code %>
                  <%= f.text_field :zipcode, placeholder: '11111', class: 'form-control' %>
                </div>
              </div>

              <%=f.submit 'Continue', class: 'Button Button__purple' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="modal fade bd-example-modal-lg" id="thank_application" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-keyboard="false" data-show="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="logo__hz"> </div>
            <p class="thanks-modal-p"> Your application has been submitted! </p>
            <p class="thanks-modal-p"> Someone from admissions will reach out to you shortly. </p>
            <%= image_tag "about/version-control.svg", alt: 'Data Science Presentation at Jigsaw Labs'%>
            <p class="modal-meantime-p"> In the meantime, get to know us a little better. </p>

            <div class="Intro__cta" style="margin: 0 auto;">
              <div class="Button" style="margin: 0px 9px;">
              <a class="Button" href="<%= events_path %>" style="
              ">Attend an Event</a>
              </div>
              <div class="Button Button__purple">
                <%= link_to 'Free Course', course_signup_path %>
              </div>
            </div>
            <p class="modal-meantime-p"> Or return to the <%= link_to 'home page.', root_path, style: 'text-decoration: none; color: #706c87' %> </p>
          </div>
        </div>
      </div>
  <%= render 'layouts/footer' %>


