<%= render 'layouts/navbar' %>
<div class="SiteContent">
  <section class="Solutions">
    <div class="row">
      <div class="col flex-centered">
        <div class="Section__content">
            <h2> Complete your Application</h2>
            <%= form_with(model: @application, id: 'new_application') do |f| %>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.label :first_name %>
                  <%= f.email_field :email, placeholder: 'First Name', class: 'form-control' %>
                </div>
                <div class="form-group col-md-6">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control' %>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.label :email %>
                  <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
                </div>
                <div class="form-group col-md-6">
                  <%= f.label :phone_number %>
                  <%= f.telephone_field :phone_number, placeholder: '111-111-1111', class: 'form-control' %>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.label :zip_code %>
                  <%= f.text_field :zip_code, placeholder: '11111', class: 'form-control' %>
                </div>
              </div>

              <%=f.submit 'Continue', class: 'btn btn-primary' %>
            <% end %>
        </div>
      </div>
      <div class="col flex-centered" style="">
        <div class="Section__content">
          <%= image_tag "women-presenting.svg", alt: 'Data Science Presentation at Jigsaw Labs'%>
        </div>
      </div>
    </div>
  </section>
      <div class="modal fade bd-example-modal-lg" id="application_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-show="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="logo__hz"> </div>
            <h2> Start your Application</h2>
            <p> Part Time Data Science Classes</p>
            <%= form_with(model: @application, id: 'new_application') do |f| %>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.label :first_name %>
                  <%= f.email_field :email, placeholder: 'First Name', class: 'form-control' %>
                </div>
                <div class="form-group col-md-6">
                  <%= f.label :last_name %>
                  <%= f.text_field :last_name, placeholder: 'Last Name', class: 'form-control' %>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.label :email %>
                  <%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
                </div>
                <div class="form-group col-md-6">
                  <%= f.label :phone_number %>
                  <%= f.telephone_field :phone_number, placeholder: '111-111-1111', class: 'form-control' %>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <%= f.label :zip_code %>
                  <%= f.text_field :zip_code, placeholder: '11111', class: 'form-control' %>
                </div>
              </div>

              <%=f.submit 'Continue', class: 'Button Button__purple' %>
            <% end %>
          </div>
        </div>
      </div>
  <section class="Solutions">
    <div class="row">
      <div class="col flex-centered" style="">
        <div class="Section__content">
          <%= image_tag "man-thinking.svg", alt: 'Dreaming Machine Learning at Jigsaw Labs' %>
        </div>
      </div>
      <div class="col flex-centered">
        <div class="Section__content">
          <h2>Own an immediate skillset</h2>
          <p>Whether coding, statistics, or analysis, each topic we cover brings new tools to solve problems.</p>
          <p>With labs and projects, you'll own each skill.  And we focus on the fundamentals to give you a solid foundation.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="HomeEfficacy Section--inverted">
    <div class="HomeEfficacy__otc"></div>
    <div class="HomeEfficacy__text Section__content">
      <h2>Possibility and passion in your new career.</h2>
      <p> Welcome to a student-driven classroom that explores rich topics, <br/> whether in coding, statistics, or business analysis. </p>
      <div class="cta-wrapper cta-spacing-top cta-spacing-bottom">
        <div class="cta-divider "></div>
        <div class="Button ">
          <a class="js--signup-modal-trigger" href="/auth/welcome">Start free course</a>
        </div>
      </div>
    </div>
  </section>
  <script>
    window.__LANDING_VARIANT__ = 'default';
  </script>
  <%= render 'layouts/footer' %>


