<%= render 'layouts/apply_navbar' %>
<div class="SiteContent" >
  <section class="Solutions application_form_2 no_opacity" id="profile">
    <div class="row justify-content-center" style="    padding-bottom: 10px;">
            <h2> Congrats on submitting your Application! </h2>
    </div>
    <div class="row justify-content-center" style="margin-top: 0px; padding-bottom: 10px;">
      <div  class="">
        <%= image_tag 'general/jigsaw-icon.png', style: "max-height: 200px; padding: 10px;" %>
      </div>
    </div>
    <div class="row" style="margin-top: 10px;">
      <div class="col flex-centered" style="padding-top: 10px;">
        <div class="Section__content">
          <div class="card" style="">
            <div class="card-body">
              <p class="card-text">
               Your work here is done! You'll receive an email to schedule a friendly chat about the upcoming program, or if you'd like, you can schedule a <%= link_to 'chat with me here', 'https://calendly.com/jigsaw-labs/information-chat' %>.  </p>
              <p class="card-text">
              There, I can tell you a bit more about the curriculum, and what you'll get out of the class.
              </p>
              <p class="card-text">
              We'll talk about what you're looking for in the program, and whether either the coding or career course is a good fit for you.
              </p>
              <p class="card-text">
              If you're looking to take the career course, I'll also tell you about the technical interview for that program.
              </p>
              <p class="card-text">
               - Jeff
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="RealStories__title">
      <h3 style="text-align: center;"> Stay Curious, Keep Learning.  </h3>
        <div class="Button" style="background: ##332e56; margin: 20px; width: 200px;">
          <a href="/#free">Free Content</a>
        </div>
        <div class="Button Button__purple" style="background: ##332e56; margin: 20px; width: 200px;">
          <a href="/events">Upcoming Workshops</a>
        </div>

    </div>
    </div>
  </section>
      <div class="modal fade bd-example-modal-lg" id="application_modal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-keyboard="false" data-show="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <p class="modal-p" style="padding-top: 10px;"> Part Time Data Science Classes</p>
            <!-- Start of Meetings Embed Script -->
    <div class="meetings-iframe-container" data-src="https://meetings.hubspot.com/jeff525/-office-hours?embed=true"></div>
    <script type="text/javascript" src="https://static.hsappstatic.net/MeetingsEmbed/ex/MeetingsEmbedCode.js"></script>
  <!-- End of Meetings Embed Script -->

          </div>
        </div>
      </div>

      <div class="modal fade bd-example-modal-lg" id="thank_application" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" data-keyboard="false" data-show="true" data-backdrop="static">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <div class="logo__hz"> </div>
            <!-- Calendly link widget begin -->
<link href="https://calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://calendly.com/assets/external/widget.js" type="text/javascript"></script>
<!-- Calendly link widget end -->
            <p class="thanks-modal-p"> Your application has been submitted! </p>
            <p class="thanks-modal-p"> Someone from admissions will reach out to you shortly. </p>
            <%= image_tag "about/version-control.svg", alt: 'Data Science Presentation at Jigsaw Labs'%>
            <p class="modal-meantime-p"> In the meantime, get to know us a little better. </p>

            <div class="Intro__cta" style="margin: 0 auto;">
              <div class="Button" style="margin: 0px 9px;">
              <a class="Button" href="<%= events_path %>" style="
              ">Attend an Event</a>
              </div>
              <div class="Button disabled">
                <%= link_to 'Free Course', course_signup_path %>
              </div>
            </div>
            <p class="modal-meantime-p"> Or return to the <%= link_to 'home page.', root_path, style: 'text-decoration: none; color: #706c87' %> </p>
          </div>
        </div>
      </div>
<style>

.disabled {
  opacity: .5;
  cursor: default;
}
</style>
      <script>
        function validateForm(){
          var emailLength = $('#application_email').val().length;
          var firstNameLength = $('#application_first_name').val().length;
            console.log('disable now')
          if (emailLength == 0 || firstNameLength == 0) {
            console.log('disable now')
            $('input[type=submit]').prop('disabled',true);
            $('input[type=submit]').addClass('disabled')
          } else {
            console.log('remove disable now')
            $('input[type=submit]').prop('disabled',false);
            $('input[type=submit]').removeClass('disabled')
          }
        }
        $( document ).on('turbolinks:load', function() {
          $('#application_form').on('submit', function(){
            $('#profile').removeClass('no_opacity')

            $('.modal').modal('hide')
          })
          $('#application_email, #application_first_name').on('blur input', function() {
            validateForm()
          });
        });

    </script>
  <%= render 'layouts/footer' %>


