<div class="row">
  <div class="col flex-centered" style="">
    <div class="Button">
      <a href="./register">Add to Google Calendar</a>
    </div>
  </div>
  <div class="col-size-3 flex-centered">
    <div class="Section__content">
      <h2><%= event.title %> </h2>
      <p class="meta">
      <i class="far fa-calendar-alt"></i> <%= event.begin_time.strftime("%a, %b %e") %> &nbsp;
      <i class="far fa-clock"></i> <%= event.begin_time.strftime("%l:%M %p").squish %> to <%= event.end_time.strftime("%l:%M %p").squish %> &nbsp;
      <br/>
      <i class="far fa-map"></i> <%= event.location.name %>
    <p><%= event.description %> </p>
    </div>
  </div>
  <div class="col">
    Google Map
  </div>
</div>
