<div style="padding-left: 0px;"   class="Persona Section Section--even Section--first">
  <div class=" col  Persona__first_col">
    <div class="">
      <div  class="">
        <%= image_tag 'course_details/geo-process.svg', style: "max-height: 500px; padding: 30px;" %>
      </div>
    </div>
  </div>
  <div id="intro_coding" class="col Persona__second_col flex-centered">
    <div class="Persona__card" style="width: 97%">
      <div class=""  style="width: 100%; padding-bottom: 25px;">
        <h1  style="margin: 0 auto; width: 90%" > Data Exploration with Pandas </h1>
        <br />
        <p style="width: 90%; margin: 0 auto;"> We'll learn how to select, explore and plot data in Pandas. Along the way, we'll learn the calculus and matrix algebra fundamentals for understanding machine learning algorithms.</p>
        <br />
        <p style="width: 90%; margin: 0 auto; text-align: center;"> A single neuron</p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%;" start="0">
          <% @neuron_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@neural_nets_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />
        <p style="width: 90%; margin: 0 auto; text-align: center;"> A neural network</p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%; padding-bottom: 25px;" start="17">
          <% @neural_net_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@neural_nets_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />

      </div>
    </div>
  </div>
</div>


  </section>

