
<div class="RealStories__title">
  <div class="row">
    <div class="col">
      <%= image_tag('general/five-stars.svg', class: 'svg-color') %>
      <p class="p-med" style="padding-top: 0px;">5.0 out of 5.0 average on course report.</p>
    </div>
  </div>

  <p style="width: 80%; margin: 0 auto;"class="p-med"> "Hands down the best curriculum and instructor to introduce you to data engineering and cloud deployment.</p>
  <p style="width: 80%; margin: 0 auto;"class="p-med"> If you're looking for a fast, highly technical, and relevant course, Jigsaw Labs is the school for you."</p>
  <cite class="big-quote__source">
    <%= link_to '#', :style=> 'color:#222; font-size: 40%' do %>
      <%= image_tag('profiles/luis-vera.jpeg', height: '50', width: '50', class: 'rounded-circle') %> Luis Vera
    <% end %>
  </cite >
  <p> </p>


  <p style="width: 80%; margin: 0 auto;" class="p-med"> "A few months after completing the course, I landed my first data science job, so I would highly recommend</p>
  <p style="width: 80%; margin: 0 auto;" class="p-med"> applying to Jigsaw Labs for anyone looking to transition into a data science or data engineering career!"</p>

  <cite class="big-quote__source">
    <%= link_to '#', :style=> 'color:#222; font-size: 40%' do %>
      <%= image_tag('profiles/michele.jpeg', height: '50', width: '50', class: 'rounded-circle') %> Michele Waters
    <% end %>
  </cite>

  <p style="width: 80%; margin: 0 auto;"class="p-med"> "Most important, he gets a really good idea what the skills of the students are, and their interests and desires, </p>
  <p style="width: 80% margin: 0 auto;"class="p-med"> then goes out and does a lot of legwork to get the students the interviews they need. </p>
  <p style="width: 80%; margin: 0 auto"class="p-med"> He's a fantastic advocate. I got several interviews through him, and one of them turned into a job."</p>
  <cite class="big-quote__source">
    <%= link_to '#', :style=> 'color:#222; font-size: 40%' do %>
      <%= image_tag('profiles/eric-ford.jpeg', height: '50', width: '50', class: 'rounded-circle') %> Eric Ford
    <% end %>
  </cite>
  <p> </p>
</div>
