<section id="reviews">
<div class="row flex-column-reverse flex-md-row" style="text-align: center; padding-top: 10%;">
  <div class="col">
    <h2>And Deliver A Quality Experience</h2>
    <%= link_to 'https://www.coursereport.com/schools/jigsaw-labs', class: 'review-photo', target: :_blank do %>
      <%= image_tag('general/five-stars.svg', class: 'svg-color') %>
      <p class="p-med" style="padding-top: 0px;padding-bottom: 0px;">5 out of 5 on <b>Course Report</b></p>
    <% end %>
    </div>
</div>
<div class="row flex-column-reverse flex-md-row" style="text-align: center; padding-top: 2%; padding-bottom: 5%;">
  <div class="col img-overlay-wrap" >
    <svg>
    <pattern id="CheckerRegular-pattern-1" x="0" y="0" width="8" height="8" patternUnits="userSpaceOnUse">
      <rect width="1" height="1" fill="currentColor"></rect>
      <rect x="4" y="4" width="1" height="1" fill="currentColor"></rect>
    </pattern>
    <rect width="100%" height="100%" fill="url(#CheckerRegular-pattern-1)"></rect>
    </svg>
      <%= link_to 'https://www.coursereport.com/schools/jigsaw-labs?shared_review=31950#reviews', class: 'review-photo', target: :_blank do %>
      <%= image_tag('profiles/luis-vera.jpeg', class: 'rounded-circle review-img') %>
      <div style="padding: 3%;" class="p-med"><b>Luis Vera</b></div>
      <div style="padding-left: 5%; padding-right: 3%;">
      <p class="p-small">
      "Hands down the best curriculum and instructor to introduce you to data engineering and cloud deployment.
      If you're looking for a fast, highly technical, and relevant course, Jigsaw Labs is the school for you."</p></div>
      <% end %>
  </div>
  <div class="col img-overlay-wrap" >
    <svg>
    <pattern id="CheckerRegular-pattern-1" x="0" y="0" width="8" height="8" patternUnits="userSpaceOnUse">
      <rect width="1" height="1" fill="currentColor"></rect>
      <rect x="4" y="4" width="1" height="1" fill="currentColor"></rect>
    </pattern>
    <rect width="100%" height="100%" fill="url(#CheckerRegular-pattern-1)"></rect>
    </svg>
    <%= link_to 'https://www.coursereport.com/schools/jigsaw-labs?shared_review=30774#reviews', class: 'review-photo', target: :_blank do %>
    <%= image_tag('profiles/michele.jpeg', class: 'rounded-circle review-img') %>
    <div style="padding: 3%;" class="p-med"><b>Michele Waters</b></div>
    <div style="padding-left: 5%; padding-right: 3%;">
      <p class="p-small">
      "A few months after completing the course, I landed my first data science job, 
      so I would highly recommend applying to Jigsaw Labs for anyone looking to transition into a data science 
      or data engineering career!"</p></div>
      <% end %>    
  </div>
  <div class="col img-overlay-wrap" >
    <svg>
    <pattern id="CheckerRegular-pattern-1" x="0" y="0" width="8" height="8" patternUnits="userSpaceOnUse">
      <rect width="1" height="1" fill="currentColor"></rect>
      <rect x="4" y="4" width="1" height="1" fill="currentColor"></rect>
    </pattern>
    <rect width="100%" height="100%" fill="url(#CheckerRegular-pattern-1)"></rect>
    </svg>
    <%= link_to 'https://www.coursereport.com/schools/jigsaw-labs?shared_review=36393#reviews', class: 'review-photo', target: :_blank do %>
    <%= image_tag('profiles/eric-ford.jpeg', class: 'rounded-circle review-img') %>
    <div style="padding: 3%;" class="p-med"><b>Eric Ford</b></div>
    <div style="padding-left: 5%; padding-right: 3%;">
      <p class="p-small">
     "Most important, he gets a really good idea what the skills of the students are, and their interests and desires,
      then goes out and does a lot of legwork to get the students the interviews they need.
      He's a fantastic advocate. I got several interviews through him, and one of them turned into a job."</p></div>
      <% end %>    
  </div>
</div>
</div>

</section>
