
<div class="RealStories__title">
  <h3 style="text-align: center;"> Our students * really * like Jigsaw Labs.  </h3>

  <p style="width: 80%; margin: 0 auto;"> "Hands down the best curriculum and instructor to introduce you to data engineering and cloud deployment.</p>
  <p style="width: 80%; margin: 0 auto;"> If you're looking for a fast, highly technical, and relevant course, Jigsaw Labs is the school for you."</p>
  <cite class="big-quote__source">
    <%= link_to '#', :style=> 'color:#222; font-size: 40%' do %>
      <%= image_tag('general/jigsaw-icon.png', height: '50', width: '50') %> Luis Vera
    <% end %>
  </cite>
  <p> </p>

  <p style="width: 80%; margin: 0 auto;"> "The curriculum builds a really solid understanding of the fundamentals and then grows this by covering a lot of topics at a quick pace.</p>
  <p style="width: 80%; margin: 0 auto;"> When I tell my software/data engineering friends what we're learning, they're impressed by how much the curriculum covers."</p>
  <cite class="big-quote__source">
    <%= link_to '#', :style=> 'color:#222; font-size: 40%' do %>
      <%= image_tag('general/jigsaw-icon.png', height: '50', width: '50') %> Chris Waskom
    <% end %>
  </cite>
  <p> </p>
  <p style="width: 80%; margin: 0 auto;"> "Most important, he gets a really good idea what the skills of the students are, and their interests and desires, </p>
  <p style="width: 80% margin: 0 auto;"> then goes out and does a lot of legwork to get the students the interviews they need. </p>
  <p style="width: 80%; margin: 0 auto"> He's a fantastic advocate. I got several interviews through him, and one of them turned into a job."</p>
  <cite class="big-quote__source">
    <%= link_to '#', :style=> 'color:#222; font-size: 40%' do %>
      <%= image_tag('general/jigsaw-icon.png', height: '50', width: '50') %> Eric Ford
    <% end %>
  </cite>
  <p> </p>
</div>
