<section>
  <div class="row" style="text-align: center; padding-top: 5%;">
    <div class="col">
      <%= link_to 'https://www.coursereport.com/schools/jigsaw-labs', class: 'review-photo', target: :_blank do %>
        <%= image_tag('general/five-stars.svg', class: 'svg-color') %>
      <% end %>
      <p class="p-med" style="padding-top: 0px;">5.0 out of 5.0 average on Course Report.</p>
    </div>
  </div>
  <div class="row review-row">
    <div class="row ">
      <p style="" class="p-med review-p"> "Hands down the best curriculum and instructor to introduce you to data engineering and cloud deployment.
      If you're looking for a fast, highly technical, and relevant course, Jigsaw Labs is the school for you."</p>
    </div>
    <div class="row">
      <div class="col">
      <%= link_to 'https://www.coursereport.com/schools/jigsaw-labs?shared_review=31950#reviews', class: 'review-photo', target: :_blank do %>
        <%= image_tag('profiles/luis-vera.jpeg', class: 'rounded-circle review-img') %>
      <% end %>
      </div>
      <div class="col profile-text">
        Luis Vera
      </div>
    </div>
  </div>

  <div class="row review-row">
    <div class="row">
      <p style="" class="p-med review-p"> "A few months after completing the course, I landed my first data science job, so I would highly recommend applying to Jigsaw Labs for anyone looking to transition into a data science or data engineering career!"</p>
    </div>
    <div class="row">
      <div class="col">
      <%= link_to 'https://www.coursereport.com/schools/jigsaw-labs?shared_review=30774#reviews', class: 'review-photo', target: :_blank do %>
        <%= image_tag('profiles/michele.jpeg', class: 'rounded-circle review-img', style: "width: 110px;") %>
      <% end %>
      </div>
      <div class="col profile-text">
        Michele Waters
      </div>
    </div>
  </div>


  <div class="row review-row">
    <div class="row" class="review-p">
      <p style="" class="p-med review-p"> "Most important, he gets a really good idea what the skills of the students are, and their interests and desires,
      then goes out and does a lot of legwork to get the students the interviews they need.
      He's a fantastic advocate. I got several interviews through him, and one of them turned into a job."</p>
    </div>
    <div class="row">
      <div class="col">
        <%= link_to 'https://www.coursereport.com/schools/jigsaw-labs?shared_review=36393#reviews', class: 'review-photo', target: :_blank do %>
          <%= image_tag('profiles/eric-ford.jpeg', class: 'rounded-circle review-img') %>
        <% end %>
      </div>
      <div class="col profile-text">
        Eric Ford
      </div>
    </div>
  </div>
</section>
