
<div class="Persona Section Section--even Section--first">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div class="Persona__mixcard-name-badge dot">Coding</div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--justine">
        <%= image_tag 'course_details/api.svg' %>
      </div>
      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--first mix-active">
        <div class="MixCard__attr">
          <span class="">
            Python & SQL
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            APIs & Scraping
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            ETL with Objects
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Data Dashboards
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered" style="left: -6%;">
    <div class="Persona__card">
      <div class="" style="">
        <h1> Weeks 1 -9 </h1>
        <p> Data Scientists must be able to acquire data and to organize that data wherever it exists on online. <p>
        <p> We'll learn Python and SQL, as well as the fundamental ideas underlying the web.</p>
        <p style="padding-right: 20px;"> This is the entire 9-week Programming Course, and the first section of the Career Course.</p>
      </div>
    </div>
  </div>
</div>
<div class="Persona Section Section--even Section--second">
  <div class="col  Persona__first_col stats-column" >
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div id="" class="" style="position: relative; display: inline;">
          <div class="Persona__mixcard-name-badge dot" style="width: 150px; align-items: center;">
             ML Pipeline
          </div>
        </div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--ariel">
        <%= image_tag 'course_details/geo-process.svg' %>

      </div>

      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--second mix-active">
        <div class="MixCard__attr">
          <span class="">
            Testing
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            AWS & Docker
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Random Forests
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Feature Engineering
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Feature Selection
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered statistics-text-col">
    <div class="Persona__card">
      <div class="text-box" style="">
        <h1> Weeks 10- 17 </h1>
        <p> The data pipeline is the step by step process for obtaining data, training models, and deploying models.<p>
        <p> We'll learn the skills to put a model into production with testing, a reproducible training pipeline, and model deployment. </p>
      </div>
    </div>
  </div>
</div>


<div class="Persona Section Section--odd Section--third">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div class="Persona__mixcard-name-badge dot"> Business Intelligence</div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--business">
        <%= image_tag 'women-presenting.svg' %>
      </div>
      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--third mix-active">
        <div class="MixCard__attr">
          <span class="">
            Problem Framing
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Priorities & Metrics
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Experimental Design
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Data Storytelling
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered" style="left: -6%;">
    <div class="Persona__card">
      <div class="" style="">
        <h1> Weeks 18 - 20 </h1>
        <p> By business intelligence we mean the ability to identify important questions, prioritize tasks, and gather evidence, and to create an evidence driven recommendation for action. <p>
        <p> We explore these skills in the context of pursuing final projects.</p>
      </div>
    </div>
  </div>
</div>

<div class="Persona Section Section--even Section--second" style="padding-left: 0px; padding-right: 0px;">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div class="Persona__mixcard-name-badge dot" style="width: 150px; align-items: center;">ML Models</div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--math">
        <%= image_tag 'course_details/diagram.svg' %>
      </div>
      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--first mix-active" style="right: 66px">
        <div class="MixCard__attr">
          <span class="">
            Linear Regression
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Logistic Regression
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Clustering
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            NLP
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            XGBoost
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered">
    <div class="Persona__card">
      <div class="" style="">
        <h1> Weeks 21 - 26 </h1>
        <p> With each machine learning model we cover, we'll learn how they work, how to apply them, and the costs and benefits of each. <p>
        <p> We'll use the models to reinforce our understanding of the  the bias-variance tradeoff and model interpretability. <p>
      </div>
    </div>
  </div>
</div>
<div class="Persona Section Section--even Section--first">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div class="Persona__mixcard-name-badge dot">Mathematical Models</div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--justine">
        <%= image_tag 'course_details/rubix.svg' %>
      </div>
      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--first mix-active">
        <div class="MixCard__attr">
          <span class="">
            Probability
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
             Linear Algebra
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
             Regularization
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
             Deep Learning
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered" style="left: -6%;">
    <div class="Persona__card">
      <div class="" style="">
        <h1> Weeks 27 -30 </h1>
        <p> Math gives us new ways to structure problems and clarify our thinking. <p>
        <p>  We'll learn calculus, linear algebra, and probability to explore topics like regularization, PCA, and deep learning.</p>
      </div>
    </div>
  </div>
</div>

<style type="text/css" media="all">
.Persona.Section {
  padding-left: 0px;
  padding-right: 0px;
}

</style>
