<div class="jumbotron jumbotron-fluid bg h-50 p-0">
  <%= render 'navbar' %>
  <div class="container h-50 letter-spaced p-4 text-light">
      <h1 class="display-4 text-center justify-content-center row">Knock it out</h1>
      <p class="lead text-center font-italic font-weight-bold row p-4 justify-content-center">  Construct your next chapter.</p>
    <div class="row justify-content-center p-4">
      <div class="row justify-content-center">
        <a class="btn btn-primary btn-lg button_blue font-weight-bold" href="#" role="button">Learn more</a>
      </div>
    </div>
  </div>
</div>
<%= render 'experience' %>
<%= render 'syllabus' %>
<%= render 'admissions' %>
<%= render 'footer' %>
