<div id="fullpage">
  <div data-anchor="lead-photo" class="section fp-auto-height pt-0">
    <div class="container-fluid text-light bg-shrunk">
      <%= render 'navbar' %>
    <div class="container">
      <div class="lead text-center font-italic font-weight-bold row p-4 justify-content-center" style="top: 130px;
      position: relative;">
        See what's next.
      </div>
    </div>
  </div>
  </div>

  <div data-anchor="experience" class="section pt-4">
    <%= render 'experience' %>
  </div>
  <div data-anchor="curriculum" class="section pt-2">
    <%= render 'syllabus' %>
  </div>
  <div data-anchor="admissions" class="section pt-4">
    <%= render 'admissions' %>
    <%= render 'footer' %>
  </div>
</div>
