<div class="container-fluid text-light bg-shrunk">
  <%= render 'navbar' %>
  <div class="display-3 text-center justify-content-center letter-spaced row">Knock it out</div>
  <div class="lead text-center font-italic font-weight-bold row p-4 justify-content-center">  Construct your next chapter.</div>
</div>
<%= render 'experience' %>
<%= render 'syllabus' %>
<%= render 'admissions' %>
<%= render 'footer' %>
