<%= render 'layouts/navbar' %>
<section class="Intro--new">
    <div class="row">
      <div class="col Intro__content">
        <div class="Section--even">
          <h1 class="Intro__title">
            Data Science by the numbers.
          <div class="Intro__body" style="max-width: 500px;">
            <p>
              Just some of the statistics behind the profession.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="Solutions">
    <div class="row">
      <div class="col-md-6 flex-centered" style="">
        <%= image_tag 'about/global-data-2014.svg', style: 'max-width: 115%' %>
      </div>
      <div class="col flex-centered">
        <div class="Section__content">
          <h2>The emergence of data</h2>
          <p>In the past three years alone, the amount of digital data created or captured online has doubled in size.  In three years, it will double again.</p>
          <p>The changes are not only in the of quantity but in the kind of data captured digitally -- as audio, video, images have become ubiquitous in our online world.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="Solutions">
    <div class="row">
      <div class="col-md-6 flex-centered" style="max-width: 150%">
        <%= image_tag 'about/ds-job-postings.svg', style: 'max-width: 141%' %>
      </div>
      <div class="col-md-6 flex-centered">
        <div class="Section__content">
          <h2> Increased demand for data science</h2>
          <p> The amount of data captured already exceeds the capacity of those in business or government to properly utilize it.
          Data scientists fill this gap by identifying the critical subset of data that drives meaningful impact.  </p>
          <p> The market has responded accordingly.  December 2018 saw a 31% increase in data science job postings from one year earlier.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="Solutions">
    <div class="RealStories__title">
      <h2> Data Analyst vs Data Scientist</h2> <h2>  What's the difference? </h2>
    </div>
    <div class="row">
      <div class="col-md-6 ">
          <h2> Python and statistics skills.</h2>
          <p> Most data scientist positions require coding skills in Python as well as statistics skills. Most data analyst positions do not.</p>

          <p style="text-align: center;"> Job Postings Requesting Each Skill </p>
          <div style="text-align: center;">
            <%= image_tag 'about/skills-table.svg', style: 'width: 60%;' %>
          </div>
      </div>
      <div class="col-md-6" >
        <h2> Also about $60,000. </h2>
      <p> On average, data scientists command 60k more than data analysts nationwide.  Data scientists in NYC earned an average of 146k in 2018. <p>
        <%= image_tag 'about/avg-salary-2019-height.svg'  %>
      </div>
    </div>
  </section>
  <section class="Solutions">
    <div class="row">
      <div class="col-md-6 flex-centered" style="">
        <div class="Section__content">
            <%= image_tag 'about/version-control.svg' %>
        </div>
      </div>
      <div class="col-md-6 flex-centered">
        <div class="Section__content">
          <h2> Learn the concepts and skills to take action</h2>
          <p> The demand for data science speaks to the potential impact of those with the proper skillset.  Our course reflects this. We focus on the Python and statistics skills you can directly apply to a career.</p>
          <p> We also explore the broader themes behind these skills.  This allows you to better organize concepts and develop your skillset going forward.</p>
        </div>
      </div>
    </div>
  </section>
  <section class="HomeEfficacy Section--inverted">
    <div class="HomeEfficacy__otc"></div>
    <div class="HomeEfficacy__text Section__content">
      <h2>Take the next step.</h2>
      <div class="cta-wrapper">
        <div class="Button " style="margin: 20px; width: 150px;">
          <%= link_to 'Start Learning Online', "/course_signup" %>
        </div>
        <div class="Button " style="background: #706c87; margin: 20px; width: 150px;">
          <%= link_to 'Attend a Free Event', about_path %>
        </div>
      </div>
    </div>
  </section>

  <%= render 'layouts/footer' %>
