<%= render 'layouts/navbar' %>
  <section style="background-color: #F8F8FA;"  >
    <div class="row" style="padding: 5%; padding-bottom: 12%;">
      <div class="col align-self-center">
        <div class="Section--even">
          <h1 class="Intro__title" style="max-width: 600px; padding-bottom: 5%;">
            <span class="inline-block">
              <br />
              Teaching you skills for today, and going forward.
            </span>
          </h1>

          <div class="">
            <p style="font-family: larsiet; color: #524D6E; padding-bottom: 3%; font-size: 1.2em;">
            Here's the why behind our course curriculum.
          </div>
        </div>
      </div>
      <div class="col">
        <%= image_tag 'course_details/api.svg', style: "max-height: 500px; padding: 30px;" %>
      </div>
    </div>
  </section>
  <div id="why">
  <%= render 'why_curriculum' %>
  </div>

  <section class="RealStories Section--centered">
    <div class="RealStories__title">
      <h3 style="text-align: center;"> Learn full stack and data engineering in 24 weeks.</h3>
    </div>
  </section>

    <%= render partial: 'data_science_card' %>


  <%= render 'layouts/footer' %>

  <style type="text/css" media="all">
      li {
        font-size: 19px;
      }
      .list-group-item {
        padding-left: 0px;
        padding-right: 0px;
      }

  </style>
