<%= render 'layouts/navbar' %>
  <section class="Intro--new" style="background: #f1f2f7;">
    <div class="row">
      <div class="col Intro__content">
        <div class="Section--even">
          <h1 class="Intro__title">
             Become data driven.
          </h1>
          <div class="Intro__body">
            <p>
            Hands on learning in acquiring and answering questions with data.
            </p>
          </div>
          <div class="Intro__cta">
            <div class="Button Button__purple">
              <a href="/course_signup">Start Learning For Free </a>
            </div>
              <a class="title-link" href="new_application_path">Start Your Application</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </section>



  <section class="RealStories Section--centered">
<div class="RealStories__title">
<h3 style="text-align: left;"> Try it out with our half-day workshop.</h3>
<br>

<div class="col-8 offset-md-2">
  <div class="card shadow-lg">
    <div class="card-header shadow-sm">
      <div class="row p-0">
        <div class="col-md-6" >
          <div class="row p-0">
            Zero to Machine Learning
          </div>
          <div class="row p-0" style="color: #706c87; font-size: 16px;">
            Dec 22, Jan. 4, Jan. 11, Jan. 18 (1216 Broadway)
          </div>
        </div>
        <div class="col-md-6" >
          <div class="Button float-right m-1 rounded shadow-sm">
            <a class="js--signup-modal-trigger " style="padding: 15px 26px;"href="/applications/new">Signup</a>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="row p-0">
            <div class="col-4" style="text-align: left;">
              <i class="fa fa-university"></i> Program Cost
            </div>
            <div class="col-2" style="text-align: left;">
              $60
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row p-0">
            <div class="col-4" style="text-align: left;">
              <i class="fa fa-book"></i> Class Content
            </div>
            <div class="col-4" style="text-align: left;">
              Intro to Python, Pandas, and Decision Trees
            </div>
          </div>
        </li>
        <li class="list-group-item">
          <div class="row p-0">
            <div class="col-4" style="text-align: left;">

              <i class="fa fa-calendar"></i> Days
            </div>
            <div class="col-5" style="text-align: left;">
              Sundays 1:30 pm - 5:30 pm
            </div>
            <div class="col-4" style="text-align: left;">
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<br>
<h3 style="text-align: center;"> Or take one of our intensive courses.</h3>
<br>
<h3 style="text-align: left;"> Learn to code in five weeks for $1200.</h3>
<h3 style="text-align: right;"> Learn data science in six months for $6000.</h3>
<br>
</div>
<div class="Persona Section Section--even Section--first">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div class="Persona__mixcard-name-badge dot">Coding</div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--justine">
        <%= image_tag 'course_details/api.svg' %>
      </div>
      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--first mix-active">
        <div class="MixCard__attr">
          <span class="">
            Python
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Data Dashboards
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            APIs
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Web Scraping
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            SQL
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered">
    <div class="Persona__card">
      <div class="" style="">
        <h1> Weeks 1 -5 </h1>
        <p> Data Scientists must be able to acquire data and to organize that data wherever it exists on online. <p>
        <p> We'll learn Python and SQL, as well as the fundamental ideas underlying the web.</p>
      </div>
    </div>
  </div>
</div>
<div class="Persona Section Section--even Section--second">
  <div class="col  Persona__first_col stats-column" >
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div id="" class="" style="position: relative; display: inline;">
          <div class="Persona__mixcard-name-badge dot">
             Data Pipeline
          </div>
        </div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--ariel">
        <%= image_tag 'course_details/geo-process.svg' %>

      </div>

      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--second mix-active">
        <div class="MixCard__attr">
          <span class="">
            Feature Engineering
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Feature Selection
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Linear Regression
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Cloud Computing
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered statistics-text-col">
    <div class="Persona__card">
      <div class="text-box" style="">
        <h1> Weeks 6- 11 </h1>
        <p> The data pipeline is the step by step process for obtaining, modeling, and interpreting data.<p>
        <p> We'll develop a structured approach to go from business problem to prediction and insight. </p>
      </div>
    </div>
  </div>
</div>


<div class="Persona Section Section--odd Section--third">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div class="Persona__mixcard-name-badge dot"> Learning Models</div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--business">
        <%= image_tag 'course_details/diagram.svg' %>
      </div>
      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--third mix-active">
        <div class="MixCard__attr">
          <span class="">
            Classification
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Clustering
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Tree Based Models
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Data Storytelling
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered">
    <div class="Persona__card">
      <div class="" style="">
        <h1> Weeks 12 -17 </h1>
        <p> By business intelligence we mean the ability to identify important questions, translate insight into a story, and make an evidence driven recommendation for action. <p>
        <p> We explore these skills in the context of pursuing final projects.</p>
      </div>
    </div>
  </div>
</div>

<div class="Persona Section Section--even Section--second">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div class="Persona__mixcard-name-badge dot">Mathematical Models</div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--math">
        <%= image_tag 'course_details/rubix.svg' %>
      </div>
      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--first mix-active" style="right: 66px">
        <div class="MixCard__attr">
          <span class="">
            NLP
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            XGBoost
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Regularization
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
             Deep Learning
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered">
    <div class="Persona__card">
      <div class="" style="">
        <h1> Weeks 18 -24 </h1>
        <p> Math gives us new ways to understand problems and clarifies our logic. <p>
        <p> We'll use calculus, linear algebra, and probability to explore topics like XGboost, natural language processing, regularization, and deep learning.</p>
      </div>
    </div>
  </div>
</div>
  </section>
  </section>

  <section class="HomeEfficacy Section--inverted">
    <div class="HomeEfficacy__text">
      <h2>Possibility and passion in your new career.</h2>
      <div class="row p-0">
        <div class="col-8 offset-md-2">
          <div class="card shadow-lg">
            <div class="card-header shadow-sm">
              <div class="row p-0">
                <div class="col-md-6" >
                  <div class="row p-0">
                    Programming For Data Science
                  </div>
                  <div class="row p-0" style="color: #706c87; font-size: 16px;">
                    Begins Feb. 1
                  </div>
                </div>
                <div class="col-md-6" >
                  <div class="Button float-right m-1 rounded shadow-sm">
                    <a class="js--signup-modal-trigger " style="padding: 15px 26px;"href="/applications/new">Apply Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left;">
                      <i class="fa fa-university"></i> Program Cost
                    </div>
                    <div class="col-2" style="text-align: left;">
                      $1200
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left;">
                      <i class="fa fa-road"></i> Program Length
                    </div>
                    <div class="col-4" style="text-align: left;">
                      5 Weeks (70 hrs)
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left;">
                      <i class="fa fa-calendar"></i> Days
                    </div>
                    <div class="col-5" style="text-align: left;">
                      Tues, Thurs (6:30 - 9:30 pm)
                      Saturdays (10:30 am - 6:30 pm)
                    </div>
                    <div class="col-4" style="text-align: left;">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-8 offset-md-2">
          <div class="card shadow-lg">
            <div class="card-header shadow-sm">
              <div class="row p-0">
                <div class="col-md-6" >
                  <div class="row p-0">
                    Data Science Career Course
                  </div>
                  <div class="row p-0" style="color: #706c87; font-size: 16px;">
                    Begins Feb. 1
                  </div>
                </div>
                <div class="col-md-6" >
                  <div class="Button float-right m-1 rounded shadow-sm">
                    <a class="js--signup-modal-trigger " style="padding: 15px 26px;"href="/applications/new">Apply Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left;">
                      <i class="fa fa-university"></i> Program Cost
                    </div>
                    <div class="col-2" style="text-align: left;">
                      $6000
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left;">
                      <i class="fa fa-road"></i> Program Length
                    </div>
                    <div class="col-4" style="text-align: left;">
                      6 months (335 hrs)
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left;">
                      <i class="fa fa-calendar"></i> Days
                    </div>
                    <div class="col-5" style="text-align: left;">
                      Tues, Thurs (6:30 - 9:30 pm)
                      Saturdays (10:30 am - 6:30 pm)
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <p> Located at 1216 Broadway (30th Street) 10001.</p>
  <p style="margin: 0 auto; text-align: center"> Questions? Get in touch.</p>
  <p style="margin: 0 auto; text-align: center">  <a href="https://calendly.com/jigsaw-labs/information-chat?month=2019-11" >Let's chat!</a></p>
      <br>
    </div>
  </section>

  <%= render 'layouts/footer' %>
