<%= render 'layouts/navbar' %>
  <section class="Intro--new" style="background: #f1f2f7;">
    <div class="row">
      <div class="col Intro__content">
        <div class="Section--even">
          <h1 class="Intro__title">
             Become data driven.
          </h1>
          <div class="Intro__body">
            <p>
            Hands on learning in acquiring and answering questions with data.
            </p>
          </div>
          <div class="Intro__cta">
            <div class="Button Button__purple">
              <a href="/course_signup" style="line-height: 15px; text-align: center;">Start Learning </a>
            </div>
              <a class="title-link" href="new_application_path">Start Your Application</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </section>

  <section class="RealStories Section--centered">
    <div class="RealStories__title">
      <h3 style="text-align: center;"> Learn to code in five weeks for $1200.</h3>
    </div>
    <%= render partial: 'coding_card' %>

    <h3 style="text-align: center;"> Or learn data science in six months for $6000.</h3>

    <%= render partial: 'data_science_card' %>

  </section>
<br>
<section class="RealStories Section--centered" style="width: 90%">
  <h3 style="text-align: center;"> Check out our syllabus below. </h3>
  <%= render partial: 'syllabus' %>
</section>


  <section class="HomeEfficacy Section--inverted">
    <div class="HomeEfficacy__text">
      <h2>Possibility and passion in your new career.</h2>
      <%= render partial: 'coding_card' %>
      <%= render partial: 'data_science_card' %>

    </div>
  </section>

  <%= render 'layouts/footer' %>

  <style type="text/css" media="all">
      li {
        font-size: 19px;
      }
      .list-group-item {
        padding-left: 0px;
        padding-right: 0px;
      }

  </style>
