<%= render 'layouts/navbar' %>

  <section class="">
    <div class="row">
      <div class="col Intro__content">
        <div class="Section--even">
          <h1 class="Intro__title" style="max-width: 500px;">
            <span class="inline-block"> Start your journey</span>
            <span class="inline-block"> with our free </span>
            <span class="inline-block"> courses on </span> <br/>
             <span class="inline-block typed"> Python. </span>
          </h1>

          <div class="Intro__body">
            <p>
            <span class="inline-block"> Learn data engineering </span> <span class="inline-block"> in our part-time course, <span/> <br> <span class="inline-block"> and upgrade your skillset. </span>
            </p>
          </div>
          <div class="Intro__cta">
            <div class="Button Button__purple">
              <a href="#free"> Start Learning <span> Below </span></a>
            </div>
            <a class="title-link" href="<%= course_details_path %>">Career Course Details </a>
          </div>
        </div>
      </div>
    </div>
  </section>

<div class="" id="free">

</div>

</div>
<div style="padding-left: 0px;"   class="Persona Section Section--even Section--first">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div  class="">
        <%= image_tag 'course_details/api.svg', style: "max-height: 500px; padding: 30px;" %>
      </div>
    </div>
  </div>
  <div id="intro_coding" class="col Persona__second_col flex-centered">
    <div class="Persona__card" style="width: 97%">
      <div class=""  style="width: 100%">
        <h1  style="margin: 0 auto; width: 90%" > Introduction to Coding </h1>
        <br />
        <p style="width: 90%; margin: 0 auto;"> We'll learn coding fundamentals with Python. Along the way, we'll pull data from the web, and create interactive graphs of our data.</p>
        <br />
        <p style="width: 90%; margin: 0 auto">Click on the free interactive lessons to begin.  And check out the <a href="https://www.youtube.com/playlist?list=PLCG6Te769p1gkVJizwSmo6GoEI9oHoAPA"> companion videos</a> to learn to code with a special guest.</p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%;" start="0">
          <% @intro_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@intro_base_url}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />

        <p style="width: 90%; margin: 0 auto;">Want More Practice? </p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%;" start="1">
          <% @lab_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@intro_labs_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
      </div>
    </div>
  </div>
</div>

    <div class="RealStories__title">
      <h3 style="text-align: center;"> Want some help? Attend a Free Online Workshop.  </h3>
        <div class="Button Button__purple" style="background: ##332e56; margin: 20px; width: 200px;">
          <%= link_to 'Upcoming Workshops', events_path %>
        </div>

    </div>
<div style="padding-left: 0px;"   class="Persona Section Section--even Section--first">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes" style="padding-top: 100px;">
      <div  class="">
        <%= image_tag 'course_details/geo-process.svg', style: "max-height: 450px; padding: 30px; padding-top: 0px;" %>
      </div>
    </div>
  </div>
  <div id="intro_pandas" class="col Persona__second_col flex-centered">
    <div class="Persona__card" style="width: 97%">
      <div class=""  style="width: 100%">
        <h1  style="margin: 0 auto; width: 90%" > Introduction to Pandas </h1>
        <br />
        <p style="width: 90%; margin: 0 auto;"> We'll learn how to select, explore and plot data in Pandas.  We'll do so using flood data from the FEMA API, and movie revenue data from 538.</p>
        <br />
        <p style="width: 90%; margin: 0 auto">Click on the free interactive lessons to begin. </p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%;" start="1">
          <% @pandas_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@pandas_base_url}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />

      </div>
    </div>
  </div>
</div>

<div style="padding-left: 0px;"   class="Persona Section Section--even Section--first">
  <div class=" col  Persona__first_col">
    <div class="">
      <div  class="">
        <%= image_tag 'course_details/diagram.svg', style: "max-height: 500px; padding: 30px;" %>
      </div>
    </div>
  </div>
  <div id="intro_ml" class="col Persona__second_col flex-centered">
    <div class="Persona__card" style="width: 97%">
      <div class=""  style="width: 100%">
        <h1  style="margin: 0 auto; width: 90%" > Introduction to Machine Learning </h1>
        <br />
        <p style="width: 90%; margin: 0 auto;"> We'll learn the fundamentals of machine learning with decision trees.
        This includes learning about the common components of all machine learning algorithms, training a model in sklearn,
        and the test-train split.  We'll also learn how to work with the pandas library to collect, explore, and modify our data.</p>
        <br />
        <p style="width: 90%; margin: 0 auto; text-align: center;"> Training Decision Trees </p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%;" start="1">
          <% @tree_links_and_titles.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@decision_trees_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />
        <p style="width: 90%; margin: 0 auto; text-align: center;"> Using Pandas </p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%; padding-bottom: 25px;" start="11">
          <% @pandas_links_and_titles.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@decision_trees_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />

      </div>
    </div>
  </div>
</div>

<div style="padding-left: 0px;padding-bottom: 80px;"   class="Persona Section Section--even Section--first" >
  <div class=" col  Persona__first_col">
    <div class="">
      <div  class="">
        <%= image_tag 'course_details/rubix.svg', style: "max-height: 500px; padding: 30px;" %>
      </div>
    </div>
  </div>
  <div id="neural_nets" class="col Persona__second_col flex-centered">
    <div class="Persona__card" style="width: 97%">
      <div class=""  style="width: 100%; padding-bottom: 25px;">
        <h1  style="margin: 0 auto; width: 90%" > Build a Neural Network </h1>
        <br />
        <p style="width: 90%; margin: 0 auto;"> We'll build a neural network from scratch. Along the way, we'll learn the calculus and matrix algebra fundamentals for understanding machine learning algorithms.</p>
        <br />
        <p style="width: 90%; margin: 0 auto; text-align: center;"> A single neuron</p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%;" start="1">
          <% @neuron_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@neural_nets_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />
        <p style="width: 100%; margin: 0 auto; text-align: center;"> A neural network</p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%; padding-bottom: 25px;" start="8">
          <% @neural_net_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@neural_nets_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />

        <p style="width: 90%; margin: 0 auto; text-align: center;"> Deeper with training </p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%; padding-bottom: 25px;" start="14">
          <% @training_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@neural_nets_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
      </div>
    </div>
  </div>
</div>


  </section>

  </section>

  <section class="HomeEfficacy Section--inverted">
    <div class="HomeEfficacy__text">
      <h2 style="padding: 60px 10px;">Possibility and passion in your new career.</h2>
    <%= render partial: 'data_science_card' %>
      <br>
      <p style="padding-top: 40px;"> <a href="/course_details" style="text-decoration:none" onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'">View Course Syllabus</a></p>
    </div>
  </section>

  <%= render 'layouts/footer' %>
  <style type="text/css" media="all">
      li {
        font-size: 19px;
      }
      .list-group-item {
        padding-left: 0px;
        padding-right: 0px;
      }

    html { scroll-behavior: smooth; }
  </style>

