<%= render 'layouts/navbar' %>
  <section class="Intro--new" style="background: #f1f2f7;">
    <div class="row">
      <div class="col Intro__content">
        <div class="Section--even">
          <h1 class="Intro__title">
             Free Introductory Courses
          </h1>
          <div class="Intro__body">
            <p>
            Hands on learning in acquiring and answering questions with data.
            </p>
          </div>
          <div class="Intro__cta">
            <div class="Button Button__purple">
              <a href="#intro_coding">Start Learning </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </section>


<div class="">

</div>

</div>
<div style="padding-left: 0px;"   class="Persona Section Section--even Section--first">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div  class="">
        <%= image_tag 'course_details/api.svg', style: "max-height: 500px; padding: 30px;" %>
      </div>
    </div>
  </div>
  <div id="intro_coding" class="col Persona__second_col flex-centered">
    <div class="Persona__card" style="width: 97%">
      <div class=""  style="width: 100%">
        <h1  style="margin: 0 auto; width: 90%" > Introduction to Coding </h1>
        <br />
        <p style="width: 90%; margin: 0 auto;"> We'll learn coding fundamentals with Python. Along the way, we'll pull data from the web, and create interactive graphs of our data.</p>
        <br />
        <p style="width: 90%; margin: 0 auto">Click on the interactive lessons below to begin. </p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%;" start="0">
          <% @intro_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@intro_base_url}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />

        <p style="width: 90%; margin: 0 auto;">Want More Practice? </p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%;" start="1">
          <% @lab_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@intro_labs_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
      </div>
    </div>
  </div>
</div>

<div style="padding-left: 0px;"   class="Persona Section Section--even Section--first">
  <div class=" col  Persona__first_col">
    <div class="">
      <div  class="">
        <%= image_tag 'course_details/diagram.svg', style: "max-height: 500px; padding: 30px;" %>
      </div>
    </div>
  </div>
  <div id="intro_coding" class="col Persona__second_col flex-centered">
    <div class="Persona__card" style="width: 97%">
      <div class=""  style="width: 100%">
        <h1  style="margin: 0 auto; width: 90%" > Introduction to Machine Learning </h1>
        <br />
        <p style="width: 90%; margin: 0 auto;"> We'll learn the fundamentals of machine learning with decision trees.</p>
        <br />
        <p style="width: 90%; margin: 0 auto">Click on the interactive lessons below to begin. </p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%;" start="1">
          <% @tree_links_and_titles.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@decision_trees_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />

      </div>
    </div>
  </div>
</div>
<div style="padding-left: 0px;"   class="Persona Section Section--even Section--first">
  <div class=" col  Persona__first_col">
    <div class="">
      <div  class="">
        <%= image_tag 'course_details/geo-process.svg', style: "max-height: 500px; padding: 30px;" %>
      </div>
    </div>
  </div>
  <div id="intro_coding" class="col Persona__second_col flex-centered">
    <div class="Persona__card" style="width: 97%">
      <div class=""  style="width: 100%; padding-bottom: 25px;">
        <h1  style="margin: 0 auto; width: 90%" > Build a Neural Network </h1>
        <br />
        <p style="width: 90%; margin: 0 auto;"> We'll build a neural network from scratch. Along the way, we'll learn the calculus and matrix algebra fundamentals for understanding machine learning algorithms.</p>
        <br />
        <p style="width: 90%; margin: 0 auto; text-align: center;"> A single neuron</p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%;" start="0">
          <% @neuron_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@neural_nets_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />
        <p style="width: 90%; margin: 0 auto; text-align: center;"> A neural network</p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%; padding-bottom: 25px;" start="15">
          <% @neural_net_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@neural_nets_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />

      </div>
    </div>
  </div>
</div>


  </section>

  </section>

  <section class="HomeEfficacy Section--inverted">
    <div class="HomeEfficacy__text">
      <h2 style="padding: 60px 10px;">Possibility and passion in your new career.</h2>
      <div class="row">
        <div class="col-12" style="max-width: 800px; margin: 0 auto;">
          <div class="card shadow-lg">
            <div class="card-header shadow-sm">
              <div class="row p-0">
                <div class="col-8" >
                  <div class="row p-0" style="font-size: 20px;">
                    Coding For Data
                  </div>
                  <div class="row p-0" style="color: #706c87; font-size: 90%;">
                    1216 Broadway NY, NY
                  </div>
                </div>
                <div class="col-4" >
                  <div class="Button float-right m-1 rounded shadow-sm">
                    <a class="js--signup-modal-trigger " style="padding: 15px 26px;"href="/applications/new">Apply</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" style="padding-left: 0px; padding-right: 0px;">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left; font-size: 90%; margin: auto;">
                      <i class="fa fa-book" style=""></i>   Topics
                    </div>
                    <div class="col-8" style="text-align: left; font-size: 90%;">
                      Python, SQL, APIs, Scraping,
                      <br />
                      Building Data Dashboards
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left; font-size: 90%;">
                      <i class="fa fa-university" style=""></i>  Cost
                    </div>
                    <div class="col-8" style="text-align: left; font-size: 90%;">
                      $1200
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left; font-size: 90%;">
                      <i class="fa fa-road"></i>  Length
                    </div>
                    <div class="col-8" style="text-align: left; font-size: 90%;">
                      5 Weeks
                      <br />
                      <span style="white-space: no-wrap;"> (Feb. 1 - March 5) </span>
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left; font-size: 90%;">
                      <i class="fa fa-calendar"></i> Days
                    </div>
                    <div class="col-8" style="text-align: left; font-size: 75%;">
                      Tues, Thurs
                      <span style="white-space: no-wrap;"> (6:30 - 9:30 pm) </span>
                      <br />
                      Saturdays
                      <span style="white-space: no-wrap;"> (10:30 am - 6:30 pm) </span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="row p-0">
        <div class="col-12" style="max-width: 800px; margin: 0 auto;">
          <div class="card shadow-lg">
            <div class="card-header shadow-sm">
              <div class="row p-0">
                <div class="col-8" style="padding-right: 0px;">
                  <div class="row p-0" style="font-size: 19px;">
                    Data Science
                  </div>
                  <div class="row p-0" style="color: #706c87; font-size: 90%;">
                    1216 Broadway NY, NY
                  </div>
                </div>
                <div class="col-4" >
                  <div class="Button float-right m-1 rounded shadow-sm">
                    <a class="js--signup-modal-trigger " style="padding: 15px 26px;"href="/applications/new">Apply</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" style="padding-left: 0px; padding-right: 0px;">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left; font-size: 90%; margin: auto;">
                      <i class="fa fa-book" style=""></i>  Topics
                    </div>
                    <div class="col-8" style="text-align: left; font-size: 90%;">
                      Coding for Data,
                      Data Pipelines,
                      Tree Models,
                      Math Models
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left; font-size: 90%;">
                      <i class="fa fa-university" style=""></i>  Cost
                    </div>
                    <div class="col-8" style="text-align: left; font-size: 90%;">
                      $6000
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left; font-size: 90%;">
                      <i class="fa fa-road"></i>  Length
                    </div>
                    <div class="col-8" style="text-align: left; font-size: 90%;">
                      24 Weeks (Feb. 1 - July 16)
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left; font-size: 90%;">
                      <i class="fa fa-calendar"></i> Days
                    </div>
                    <div class="col-8" style="text-align: left; font-size: 75%;">
                      Tues, Thurs (6:30 - 9:30 pm)
                      <br />
                      Saturdays (10:30 am - 6:30 pm)
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <p style="padding-top: 40px;"> <a href="/course_details" style="text-decoration:none" onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'">View Course Syllabus</a></p>
      <br>
    </div>
  </section>

  <%= render 'layouts/footer' %>
  <style type="text/css" media="all">
      li {
        font-size: 19px;
      }
      .list-group-item {
        padding-left: 0px;
        padding-right: 0px;
      }

    html { scroll-behavior: smooth; }
  </style>
