<%= render 'layouts/navbar' %>

  <section >
    <div class="row" style="padding: 5%;">
      <div class="col align-self-center">
        <div class="Section--even">
          <h1 class="Intro__title" style="max-width: 550px;">
            <span class="inline-block"> Finally, </span>
            <span class="inline-block"> a coding bootcamp </span>
            <span class="inline-block"> that offers more for less.</span>
          </h1>

          <div class="">
            <p style="font-family: larsiet; color: #524D6E; margin-bottom: 5px; font-size: 1.1em;">
            Learn <b> fullstack engineering, cloud computing,</b> and <b>data engineering </b>
            <br />
            in our live online course
            <b><i>without </i></b> quitting your job.
            </p>
            <p style="font-family: larsiet; color: #524D6E; font-size: 1.1em;">
            Then get a new job, <b> guaranteed. </b>
            </p>

          </div>
          <div class="Intro__cta">
            <div class="Button Button__purple">
              <a href="#free"> Career Course <span> Details </span></a>
            </div>
            <a class="title-link" href="#free"> Free Curriculum </a>
          </div>
        </div>
      </div>
      <div class="col d-none d-sm-block">
        <%= image_tag 'general/jigsaw-touched.svg' %>
      </div>
    </div>
  </section>

  <%= render 'quality' %>
  <%= render 'reviews' %>

  <%= render 'cost' %>
  <%= render 'how_it_works' %>



    </div>
<div style="padding-left: 0px;"   class="Persona Section Section--even Section--first">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes" style="padding-top: 100px;">
      <div  class="">
        <%= image_tag 'course_details/geo-process.svg', style: "max-height: 450px; padding: 30px; padding-top: 0px;" %>
      </div>
    </div>
  </div>
  <div id="intro_pandas" class="col Persona__second_col flex-centered">
    <div class="Persona__card" style="width: 97%">
      <div class=""  style="width: 100%">
        <h1  style="margin: 0 auto; width: 90%" > Introduction to Pandas </h1>
        <br />
        <p style="width: 90%; margin: 0 auto;"> We'll learn how to select, explore and plot data in Pandas.  We'll do so using flood data from the FEMA API, and movie revenue data from 538.</p>
        <br />
        <p style="width: 90%; margin: 0 auto">Click on the free interactive lessons to begin. </p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%;" start="1">
          <% @pandas_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@pandas_base_url}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />

      </div>
    </div>
  </div>
</div>

<div style="padding-left: 0px;"   class="Persona Section Section--even Section--first">
  <div class=" col  Persona__first_col">
    <div class="">
      <div  class="">
        <%= image_tag 'course_details/diagram.svg', style: "max-height: 500px; padding: 30px;" %>
      </div>
    </div>
  </div>
  <div id="intro_ml" class="col Persona__second_col flex-centered">
    <div class="Persona__card" style="width: 97%">
      <div class=""  style="width: 100%">
        <h1  style="margin: 0 auto; width: 90%" > Introduction to Machine Learning </h1>
        <br />
        <p style="width: 90%; margin: 0 auto;"> We'll learn the fundamentals of machine learning with decision trees.
        This includes learning about the common components of all machine learning algorithms, training a model in sklearn,
        and the test-train split.  We'll also learn how to work with the pandas library to collect, explore, and modify our data.</p>
        <br />
        <p style="width: 90%; margin: 0 auto; text-align: center;"> Training Decision Trees </p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%;" start="1">
          <% @tree_links_and_titles.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@decision_trees_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />
        <p style="width: 90%; margin: 0 auto; text-align: center;"> Using Pandas </p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%; padding-bottom: 25px;" start="11">
          <% @pandas_links_and_titles.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@decision_trees_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />

      </div>
    </div>
  </div>
</div>

<div style="padding-left: 0px;padding-bottom: 80px;"   class="Persona Section Section--even Section--first" >
  <div class=" col  Persona__first_col">
    <div class="">
      <div  class="">
        <%= image_tag 'course_details/rubix.svg', style: "max-height: 500px; padding: 30px;" %>
      </div>
    </div>
  </div>
  <div id="neural_nets" class="col Persona__second_col flex-centered">
    <div class="Persona__card" style="width: 97%">
      <div class=""  style="width: 100%; padding-bottom: 25px;">
        <h1  style="margin: 0 auto; width: 90%" > Build a Neural Network </h1>
        <br />
        <p style="width: 90%; margin: 0 auto;"> We'll build a neural network from scratch. Along the way, we'll learn the calculus and matrix algebra fundamentals for understanding machine learning algorithms.</p>
        <br />
        <p style="width: 90%; margin: 0 auto; text-align: center;"> A single neuron</p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%;" start="1">
          <% @neuron_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@neural_nets_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />
        <p style="width: 100%; margin: 0 auto; text-align: center;"> A neural network</p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%; padding-bottom: 25px;" start="8">
          <% @neural_net_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@neural_nets_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
        <br />

        <p style="width: 90%; margin: 0 auto; text-align: center;"> Deeper with training </p>
        <br />
        <ol style="columns: 2; font-size: 16px; margin: 0 auto; width: 100%; padding-bottom: 25px;" start="14">
          <% @training_titles_and_links.each do |title, link| %>
            <li style="padding-bottom: 3px;"> <a style="color: #706c87;" target="_blank" href=<%= "#{@neural_nets_base}/#{link}.ipynb" %>><%= title %></a> </li>
          <% end %>

        </ol>
      </div>
    </div>
  </div>
</div>


  </section>

  </section>

  <section class="HomeEfficacy Section--inverted">
    <div class="HomeEfficacy__text">
      <h2 style="padding: 60px 10px;">Possibility and passion in your new career.</h2>
    <%= render partial: 'data_science_card' %>
      <br>
      <p style="padding-top: 40px;"> <a href="/course_details" style="text-decoration:none" onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'">View Course Syllabus</a></p>
    </div>
  </section>

  <%= render 'layouts/footer' %>
  <style type="text/css" media="all">
      li {
        font-size: 19px;
      }
      .list-group-item {
        padding-left: 0px;
        padding-right: 0px;
      }

    html { scroll-behavior: smooth; }
  </style>
