<%= render 'layouts/navbar' %>
<script src="https://unpkg.com/enter-view"></script>


<script charset="utf-8">

jQuery( document ).on('turbolinks:load', function() {
      analytics.track('Visited Homepage')
  enterView({
    selector: '#quality',
    enter: function(el) {
      analytics.track('viewed quality')
    }
  })
  enterView({
    selector: '#reviews',
    enter: function(el) {
      analytics.track('viewed how it works')
    }
  })
  enterView({
    selector: '#free_curriculum',
    enter: function(el) {
      analytics.track('viewed free_curriculum_homepage')
    }
  })
  enterView({
    selector: '#bio',
    enter: function(el) {
      analytics.track('viewed bio')
    }
  })
  enterView({
    selector: '#how_it_works',
    enter: function(el) {
      analytics.track('viewed how it works')
    }
  })
})



</script>
<div class="container" style="padding-top: 12%">
  <section >
    <div class="d-block d-md-none" style="padding-top: 5%">
    </div>
    <div class="row" style="padding: 5%; padding-bottom: 12%; padding-top: 1%;">
      <div class="col align-self-center">
        <div class="Section--even">
          <h1 class="Intro__title" style="max-width: 600px;">
            <span class="inline-block"> Finally, </span> 
            
             <span class="inline-block"> a coding bootcamp </span>
            <span class="inline-block"> that delivers more for less.</span>
          </h1>
          <div class="d-none d-sm-block" style="padding-bottom: 5%;">

          </div>
          <div class="col d-sm-none" style="margin: auto; max-width: 60%; width: 110%;">
            <%= image_tag 'general/jigsaw-touched.svg' %>
          </div>
          <div class="d-sm-block" style="padding-bottom: 5%;">

          </div>

          <div class="p-content d-none d-sm-block" style="">
            <p style="color: #524D6E; padding-bottom: 3%;font-size: 1.2em; ">
            Learn <b style="color: #332e56"> backend engineering </b>
             and <b style="color: #332e56">data engineering </b>
            <br />
            in our live online course
            <b style="color: #332e56">without </b> quitting your job.
            </p>
            <p style="color: #524D6E; font-size: 1.2em;">
            Then get a new job,<b style="color: #332e56"> guaranteed. </b>
            </p>

          </div>
          <div class="p-content d-sm-none" style="text-align: center;">
            <p style="color: #524D6E; padding-bottom: 3%; ">
            Learn <b> backend engineering </b> <i>and </i> <b>data engineering </b>
            <br />
            in our live online course
            <b><i>without </i></b> quitting your job.
            </p>
            <p style="color: #524D6E; ;">
            Then get a new job, <b> guaranteed. </b>
            </p>
          </div>
          
          <div class="Intro__cta d-none d-sm-block" >
            <div class="Button Button__purple">
            <%= link_to 'Apply Now', new_application_path, class: 'Effect Effect-1' %>
            </div>     
            &nbsp;
            
          </div>

          <div class="Intro__cta d-sm-none d-flex justify-content-center" style="padding-bottom: 10%; padding-top: 10%;">
            <div class="Button Button__purple">
            <%= link_to 'Apply Now', new_application_path %>
            </div>
            
          </div>
        </div>
      </div>
      <div class="col d-none d-sm-block">
        <%= image_tag 'general/jigsaw-touched.svg' %>
      </div>
    </div>
  </section>

  <%= render 'quality' %>
  <%= render 'reviews' %>
  <%= render 'internship' %>
  <%= render 'cost' %>
  
  <%= render 'how_it_works' %>
  <%= render 'free_curriculum' %>
  <%= render 'bio' %>



    </div>
  </section>

  </section>

  <section class="HomeEfficacy Section--inverted">
    <div class="HomeEfficacy__text">
      <h2 style="padding: 60px 10px;">Possibility and passion in your new career.</h2>
    <%= render partial: 'data_science_card' %>
      <br>
    </div>
  </section>
</div>

  <%= render 'layouts/footer' %>
  <style type="text/css" media="all">
      li {
        font-size: 19px;
      }
      .list-group-item {
        padding-left: 0px;
        padding-right: 0px;
      }

    html { scroll-behavior: smooth; }
  </style>
