<%= render 'layouts/navbar' %>

  <section >
    <div class="row" style="padding: 1%;">
      <div class="col align-self-center">
        <div class="Section--even">
          <h1 class="Intro__title" style="max-width: 550px;">
            <span class="inline-block"> Finally, </span>
            <span class="inline-block"> a coding bootcamp </span>
            <span class="inline-block"> that offers more for less.</span>
          </h1>

          <div class="">
            <p style="font-family: larsiet; color: #524D6E; margin-bottom: 5px; font-size: 1.1em;">
            Learn <b> fullstack engineering, cloud computing,</b> and <b>data engineering </b>
            <br />
            in our live online course
            <b><i>without </i></b> quitting your job.
            </p>
            <p style="font-family: larsiet; color: #524D6E; font-size: 1.1em;">
            Then get a new job, <b> guaranteed. </b>
            </p>

          </div>
          <div class="Intro__cta">
            <div class="Button Button__purple">
              <a href="/course_details"> Career Course <span> Details </span></a>
            </div>
            <a class="title-link" href="/free"> Free Curriculum </a>
          </div>
        </div>
      </div>
      <div class="col d-none d-sm-block">
        <%= image_tag 'general/jigsaw-touched.svg' %>
      </div>
    </div>
  </section>

  <%= render 'quality' %>
  <%= render 'reviews' %>

  <%= render 'cost' %>
  <%= render 'how_it_works' %>



    </div>
  </section>

  </section>

  <section class="HomeEfficacy Section--inverted">
    <div class="HomeEfficacy__text">
      <h2 style="padding: 60px 10px;">Possibility and passion in your new career.</h2>
    <%= render partial: 'data_science_card' %>
      <br>
      <p style="padding-top: 40px;"> <a href="/course_details" style="text-decoration:none" onmouseover="style='text-decoration:underline'" onmouseout="style='text-decoration:none'">View Course Syllabus</a></p>
    </div>
  </section>

  <%= render 'layouts/footer' %>
  <style type="text/css" media="all">
      li {
        font-size: 19px;
      }
      .list-group-item {
        padding-left: 0px;
        padding-right: 0px;
      }

    html { scroll-behavior: smooth; }
  </style>
