<footer class="Footer Section Section--even">
  <p style="margin: 0 auto; text-align: center"> Questions? Get in touch.</p>
  <p style="margin: 0 auto; text-align: center">  <a href="https://calendly.com/jigsaw-labs/information-chat?month=2019-11" >Let's chat!</a></p>
  <!-- Calendly inline widget begin -->
<div class="calendly-inline-widget" data-url="https://calendly.com/jigsaw-labs/information-chat" style="min-width:320px;height:630px;"></div>
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js"></script>
<!-- Calendly inline widget end -->
  <div class="Footer__container">
    <a href="/" class="Footer__logo">
    </a>
    <div class="Footer__links-container">
      <div class="Footer__links">
        <div class="Footer__links-main">
          <%= link_to 'Apply', new_application_path, class: 'Footer__link' %>
          <%= link_to 'Free Course', "/course_signup", class: 'Footer__link' %>
        </div>
        <div class="Footer__links-secondary">
          <%= link_to 'Why Apply', about_path, class: 'Footer__link' %>
          <%= link_to 'Course Details', course_details_path, class: 'Footer__link' %>
          <%= link_to 'Upcoming Events', events_path, class: 'Footer__link' %>
        </div>
      </div>
    </div>
    <ul class="Footer__legal-list">
      <li class="Footer__legal-item">
        © 2019 Jigsaw Labs
      </li>
      <li class="Footer__legal-item">
        <a class="Footer__legal-link" href="/tos">Terms of Service</a>
      </li>
    </ul>
  </div>
</footer>
</div>
</body>
</html>

