<footer class="Footer Section Section--even">
  <p style="margin: 0 auto; text-align: center"> Questions? Get in Touch.  </p>
  <p style="margin: 0 auto; text-align: center">  <a href="tel:917-818-2633" > 917-818-2633</a></p>
  <div class="Footer__container">
    <a href="/" class="Footer__logo">
    </a>
    <div class="Footer__links-container">
      <div class="Footer__links">
        <div class="Footer__links-main">
          <%= link_to 'Apply', new_application_path, class: 'Footer__link' %>
          <%= link_to 'Free Course', "http://learn.jigsawlabs.co/account/finish_auth?course_id=course-v1:jigsawlabs+11+22&enrollment_action=enroll&email_opt_in=false", class: 'Footer__link' %>
        </div>
        <div class="Footer__links-secondary">
          <%= link_to 'Why Apply', about_path, class: 'Footer__link' %>
          <%= link_to 'Course Details', course_details_path, class: 'Footer__link' %>
          <%= link_to 'Upcoming Events', events_path, class: 'Footer__link' %>
        </div>
      </div>
    </div>
    <ul class="Footer__legal-list">
      <li class="Footer__legal-item">
        © 2019 Jigsaw Labs
      </li>
      <li class="Footer__legal-item">
        <a class="Footer__legal-link" href="/tos">Terms of Service</a>
      </li>
      <li class="Footer__legal-item">
        <a class="Footer__legal-link" href="/privacy">Privacy</a>
      </li>
    </ul>
  </div>
</footer>
</div>
</body>
</html>

