<!DOCTYPE html>
<html>
  <head>
    <title class="fas fa-puzzle-piece"> Jigsaw Labs - Learn Data Engineering part-time online. </title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-156462054-1"></script>
    <!-- Start of HubSpot Embed Code -->
<script type="text/javascript" id="hs-script-loader" async defer src="//js.hs-scripts.com/6762396.js"></script>
<!-- End of HubSpot Embed Code -->

    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-156462054-1');
    </script>



    <%= favicon_link_tag asset_path('light-puzzle-piece.ico'), :rel => 'icon', :type => "image/x-icon" %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-site-verification" content="jDhwo9AhWJnDJtb9VLSYiHqZaixZEm22qsy28eUnfZk" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
