<!DOCTYPE html>
<html>
  <head>
    <title class="fas fa-puzzle-piece">Jigsaw Labs</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="google-site-verification" content="jDhwo9AhWJnDJtb9VLSYiHqZaixZEm22qsy28eUnfZk" />
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link data-prerender="keep" rel="icon" type="image/png" sizes="32x32" href="images/puzzle_img.png">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <script>
      new fullpage('#fullpage', {
        //options here
        autoScrolling:true,
        licenseKey: '38A933F0-C03C4181-B3D1F094-321CA1B4',
        anchors:['lead-photo', 'experience', 'curriculum', 'admissions']
      });
    </script>
  </body>
</html>
